Add support for SCRAM-SHA-1(-PLUS), SCRAM-SHA-256(-PLUS)

"When using the SASL SCRAM mechanism, the SCRAM-SHA-256-PLUS variant SHOULD be preferred over the SCRAM-SHA-256 variant, and SHA-256 variants [RFC7677] SHOULD be preferred over SHA-1 variants [RFC5802]".

SCRAM-SHA-1(-PLUS):
- RFC5802: Salted Challenge Response Authentication Mechanism (SCRAM) SASL and GSS-API Mechanisms: https://tools.ietf.org/html/rfc5802
- RFC6120: Extensible Messaging and Presence Protocol (XMPP): Core: https://tools.ietf.org/html/rfc6120

SCRAM-SHA-256(-PLUS):
- RFC7677: SCRAM-SHA-256 and SCRAM-SHA-256-PLUS Simple Authentication and Security Layer (SASL) Mechanisms: https://tools.ietf.org/html/rfc7677 - since 2015-11-02
- RFC8600: Using Extensible Messaging and Presence Protocol (XMPP) for Security Information Exchange: https://tools.ietf.org/html/rfc8600 - since 2019-06-21: https://mailarchive.ietf.org/arch/msg/ietf-announce/suJMmeMhuAOmGn_PJYgX5Vm8lNA

I add SCRAM-SHA-512(-PLUS): https://xmpp.org/extensions/inbox/hash-recommendations.html

-PLUS variants:
- RFC5056: On the Use of Channel Bindings to Secure Channels: https://tools.ietf.org/html/rfc5056
- RFC5929: Channel Bindings for TLS: https://tools.ietf.org/html/rfc5929
- Channel-Binding Types: https://www.iana.org/assignments/channel-binding-types/channel-binding-types.xhtml

LDAP:
- RFC5803: Lightweight Directory Access Protocol (LDAP) Schema for Storing Salted: Challenge Response Authentication Mechanism (SCRAM) Secrets: https://tools.ietf.org/html/rfc5803

HTTP:
- RFC7804: Salted Challenge Response HTTP Authentication Mechanism: https://tools.ietf.org/html/rfc7804

IANA:
- Simple Authentication and Security Layer (SASL) Mechanisms: https://www.iana.org/assignments/sasl-mechanisms/sasl-mechanisms.xhtml

Linked to:
- https://github.com/scram-xmpp/info/issues/1

Note: XMPP servers remove the old history unsecured MD5 support.

Uhhh sure. Just note that this isn't an XMPP client. Like, I get that you copypaste the template all over the place, but it looks weird.

A more relevant link here would be https://ircv3.net/docs/sasl-mechs

@dequis: Thanks for your reply!
irssi-xmpp...
I see only SCRAM-SHA-256, not SCRAM-SHA-1(-PLUS) and SCRAM-SHA-256-PLUS :/
It is planned? To have the best compatibility?

For irssi-xmpp, use the irssi-xmpp bug tracker. It's an unrelated project, and the SASL code isn't shared.

I don't think anyone on the irc side would/should bother implementing SHA-1 based stuff, especially since we are at the beginning of SCRAM adoption over here, so there's no reason to implement legacy stuff.

@ailin-nemui: All SCRAM work now?

Dear @irssi team, @ircnet-com,

In first, I wish you a Happy New Year 2022!

Have you progressed on SCRAM?

Thanks in advance.

Linked to:
- https://github.com/irssi/irssi/issues/1178
- https://github.com/cdidier/irssi-xmpp/issues/54
- https://github.com/scram-xmpp/info/issues/1

Good news to all!

@patrick-irc has added the SCRAM supports, thanks a lot!

It is not a joke: "Posted on April 1st 2024"
- https://irssi.org/2024/04/01/sasl-scram-sha-support/

It solves my initial request done 2020-04-20:
- https://github.com/irssi/irssi/issues/1178

Merged PR:
- https://github.com/irssi/irssi/pull/1500

Merged commit:
- https://github.com/irssi/irssi/commit/b18832bf3bcf3634373bcb5b46f33842762a09bb
- https://github.com/irssi/irssi/commit/f2b97631e1209d60e77f2a918809c88bd37fdd04
- https://github.com/irssi/irssi.github.io/commit/e54ff06fd0907e4dcccb9a064476cf0021375e12

Linked to:
- https://github.com/scram-sasl/info/issues/1
- https://github.com/irssi/irssi/issues/4
- https://github.com/irssi/irssi/issues/1331

cc: @dequis, @ircnet-com.